<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>COVID-19</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100,300,400,400i,700,700i" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style1.css"/>
</head>
<body>
  
  <header class="site-header">
    <div class="container">
      <h1 class="school-logo-text float-left"><a href="#"><strong>COVID-19</strong></h1>
      <span class="js-search-trigger site-header__search-trigger"><i class="fa fa-search" aria-hidden="true"></i></span>
      <i class="site-header__menu-trigger fa fa-bars" aria-hidden="true"></i>
      <div class="site-header__menu group">
        <nav class="main-navigation">
          <ul>
            <li><i class="fa fa-home" aria-hidden="true"></i><a href="/">Home</a></li>
            <li><a href="/about">About Covid-19</a></li>
            <li><a href="/cause">Cause</a></li>
            <li><a href="/signs">Signs and Symptoms</a></li>
            <li><a href="/prevention">Prevention</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <div class="page-banner">
    <div class="page-banner__bg-image" style="background-image: url(https://cdn.pixabay.com/photo/2020/02/04/07/16/coronavirus-4817450__340.jpg);"></div>
    <div class="page-banner__content container container--narrow">
      <h1 class="page-banner__title">Covid History</h1>
      <div class="page-banner__intro">
        <p>Learn how this virus came into our world.</p>
      </div>
    </div>  
  </div>

  <div class="container container--narrow page-section">
    <div class="generic-content">
      <p>Coronaviruses were first discovered in the 1930s when an acute respiratory infection of domesticated chickens was shown to be caused by infectious bronchitis virus (IBV). Arthur Schalk and M.C. Hawn described in 1931 a new respiratory infection of chickens in North Dakota. The infection of new-born chicks was characterized by gasping and listlessness. The chicks' mortality rate was 40–90%. Fred Beaudette and Charles Hudson six years later successfully isolated and cultivated the infectious bronchitis virus which caused the disease. In the 1940s, two more animal coronaviruses, mouse hepatitis virus (MHV) and transmissible gastroenteritis virus (TGEV), were isolated. It was not realized at the time that these three different viruses were related.</p>
      <p>Human coronaviruses were discovered in the 1960s. They were isolated using two different methods in the United Kingdom and the United States. E.C. Kendall, Malcom Byone, and David Tyrrell working at the Common Cold Unit of the British Medical Research Council in 1960 isolated from a boy a novel common cold virus B814. The virus was not able to be cultivated using standard techniques which had successfully cultivated rhinoviruses, adenoviruses and other known common cold viruses. In 1965, Tyrrell and Byone successfully cultivated the novel virus by serially passing it through organ culture of human embryonic trachea. The new cultivating method was introduced to the lab by Bertil Hoorn. The isolated virus when intranasally inoculated into volunteers caused a cold and was inactivated by ether which indicated it had a lipid envelope. Around the same time, Dorothy Hamre and John Procknow at the University of Chicago isolated a novel cold virus 229E from medical students, which they grew in kidney tissue culture. The novel virus 229E, like the virus strain B814, when inoculated into volunteers caused a cold and was inactivated by ether.</p>
      <p>The two novel strains B814 and 229E were subsequently imaged by electron microscopy in 1967 by Scottish virologist June Almeida at St. Thomas Hospital in London. Almeida through electron microscopy was able to show that B814 and 229E were morphologically related by their distinctive club-like spikes. Not only were they related with each other, but they were morphologically related to infectious bronchitis virus (IBV). A research group at the National Institute of Health the same year was able to isolate another member of this new group of viruses using organ culture and named the virus strain OC43 (OC for organ culture). Like B814, 229E, and IBV, the novel cold virus OC43 had distinctive club-like spikes when observed with the electron microscope.</p>
      <p>The IBV-like novel cold viruses were soon shown to be also morphologically related to the mouse hepatitis virus. This new group of IBV-like viruses came to be known as coronaviruses after their distinctive morphological appearance. Human coronavirus 229E and human coronavirus OC43 continued to be studied in subsequent decades. The coronavirus strain B814 was lost. It is not known which present human coronavirus it was. Other human coronaviruses have since been identified, including SARS-CoV in 2003, HCoV NL63 in 2004, HCoV HKU1 in 2005, MERS-CoV in 2012, and SARS-CoV-2 in 2019. There have also been a large number of animal coronaviruses identified since the 1960s.</p>
    </div>

  </div>

  <div class="page-section page-section--beige">
    <div class="container container--narrow generic-content">
      <p>The novel coronavirus, identified by Chinese authorities on January 7 and since named SARS-CoV-2, is a new strain that had not been previously identified in humans.</p>
      <p>Since March 16, more cases were registered outside mainland China than inside, marking a new milestone in the spread of the global pandemic. 
         The virus has spread from China all around the world, prompting the WHO to label the COVID-19 outbreak a pandemic.
        
        Human-to-human transmissions became evident after cases were recorded with no apparent link to China.</p>
      <p>Chinese health authorities are still trying to determine the origin of the virus, which they say likely came from a seafood market in Wuhan, China where wildlife was also traded illegally.

        On February 7, Chinese researchers said the virus could have spread from an infected animal species to humans through illegally-trafficked pangolins, which are prized in Asia for food and medicine.
        
        Scientists have pointed to either bats or snakes as possible sources of the virus. </p>
    </div>
  </div>
  <div class="jumbotron" style="width: 60%; margin-left: 20%; margin-top:30px;"><img src="https://www.aljazeera.com/mritems/Images/2020/2/18/873f6d3adc494c398fab85d9d4c92bf7_18.jpg" alt=""></div>
  <div class="page-section page-section--white">

    <hr class="section-break">

    <div class="row group generic-content">

      <div class="one-third">
        <p>According to a report by the National Academies of Sciences, Engineering, and Medicine, experimental studies do show a relationship between higher temperatures and humidity levels, and reduced survival of SARS-CoV-2, the virus that causes COVID-19, in the laboratory.<br> However, there are many other factors besides environmental temperature, humidity, and survival of the virus outside of the host, that influence and determine transmission rates among humans in the 'real world', the report said.</p>
      </div>

      <div class="one-third">
        <p>This new virus seems to be very contagious and has quickly spread globally. In a meeting on January 30, 2020, per the International Health Regulations (IHR, 2005), the outbreak was declared by the WHO a Public Health Emergency of International Concern (PHEIC) as it had spread to 18 countries with four countries reporting human-to-human transmission. An additional landmark occurred on February 26, 2020, as the first case of the disease, not imported from China, was recorded in the United States (US). </p>
      </div>

      <div class="one-third">
        <p>CoVs are positive-stranded RNA viruses with a crown-like appearance under an electron microscope (coronam is the Latin term for crown) due to the presence of spike glycoproteins on the envelope. The subfamily Orthocoronavirinae of the Coronaviridae family (order Nidovirales) classifies into four genera of CoVs: Alphacoronavirus (alphaCoV), Betacoronavirus (betaCoV), Deltacoronavirus (deltaCoV), and Gammacoronavirus (gammaCoV). </p>
      </div>
    </div>

  </div>

</div>

<footer class="site-footer">

  <div class="site-footer__inner container container--narrow">

    <div class="group">

      <div class="site-footer__col-one">
        <h1 class="school-logo-text school-logo-text--alt-color"><a href="#"><strong>COVID-19</strong></a></h1>
      </div>

      <div class="site-footer__col-two-three-group">
        <div class="site-footer__col-two">
          <h3 class="headline headline--small">Explore</h3>
          <nav class="nav-list">
            <ul>
              <li><a href="/about">About Covid-19</a></li>
              <li><a href="/cause">Cause</a></li>
              <li><a href="/signs">Signs and Symptoms</a></li>
              <li><a href="/prevention">Prevention</a></li>
            </ul>
          </nav>
        </div>

      <div class="site-footer__col-three">
        <h3 class="headline headline--small">WHO Social Handle</h3>
        <nav>
          <ul class="min-list social-icons-list group">
            <li><a href="https://www.facebook.com/WHO" class="social-color-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/WHO?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="social-color-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UC07-dOwgza1IguKA86jqxNA" class="social-color-youtube"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
            <li><a href="https://www.linkedin.com/company/world-health-organization/" class="social-color-linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/who/?hl=en" class="social-color-instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
        </nav>
      </div>
    </div>

  </div>
</footer>

  
  <script src="js/scripts-bundled.js"></script>
</body>
</html>
