<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>COVID-19</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100,300,400,400i,700,700i" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/style1.css"/>
</head>
<body>
  
  <header class="site-header">
    <div class="container">
      <h1 class="school-logo-text float-left"><a href="#"><strong>COVID-19</strong></h1>
      <span class="js-search-trigger site-header__search-trigger"><i class="fa fa-search" aria-hidden="true"></i></span>
      <i class="site-header__menu-trigger fa fa-bars" aria-hidden="true"></i>
      <div class="site-header__menu group">
        <nav class="main-navigation">
          <ul>
            <li><i class="fa fa-home" aria-hidden="true"></i><a href="/">Home</a></li>
            <li><a href="/about">About Covid-19</a></li>
            <li><a href="/cause">Cause</a></li>
            <li><a href="/signs">Signs and Symptoms</a></li>
            <li><a href="/prevention">Prevention</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <div class="page-banner">
    <div class="page-banner__bg-image" style="background-image: url(https://cdn.pixabay.com/photo/2020/03/14/12/48/virus-4930527__340.jpg);"></div>
    <div class="page-banner__content container container--narrow">
      <h1 class="page-banner__title">Covid Cause</h1>
      <div class="page-banner__intro">
        <p>Learn the Cause of Covid-19.</p>
      </div>
    </div>  
  </div>

  <div class="container container--narrow page-section">
    <div class="generic-content">
      <p>Infection with the new coronavirus (severe acute respiratory syndrome coronavirus 2, or SARS-CoV-2) causes coronavirus disease 2019 (COVID-19).</p>
      <p>The virus appears to spread easily among people, and more continues to be discovered over time about how it spreads. Data has shown that it spreads from person to person among those in close contact (within about 6 feet, or 2 meters). The virus spreads by respiratory droplets released when someone with the virus coughs, sneezes or talks. These droplets can be inhaled or land in the mouth or nose of a person nearby.</p>
      <p>It can also spread if a person touches a surface with the virus on it and then touches his or her mouth, nose or eyes, although this isn't considered to be a main way it spreads.</p>
      <p>Droplet transmission occurs when a person is in in close contact (within 1 m) with someone who has respiratory symptoms (e.g., coughing or sneezing) and is therefore at risk of having his/her mucosae (mouth and nose) or conjunctiva (eyes) exposed to potentially infective respiratory droplets. Transmission may also occur through fomites in the immediate environment around the infected person. Therefore, transmission of the COVID-19 virus can occur by direct contact with infected people and indirect contact with surfaces in the immediate environment or with objects used on the infected person (e.g., stethoscope or thermometer)</p>
    </div>

  </div>

  <div class="page-section page-section--beige">
    <div class="container container--narrow generic-content">
      <p>In the context of COVID-19, airborne transmission may be possible in specific circumstances and settings in which procedures or support treatments that generate aerosols are performed; i.e., endotracheal intubation, bronchoscopy, open suctioning, administration of nebulized treatment, manual ventilation before intubation, turning the patient to the prone position, disconnecting the patient from the ventilator, non-invasive positive-pressure ventilation, tracheostomy, and cardiopulmonary resuscitation. </p>
      <p>There is some evidence that COVID-19 infection may lead to intestinal infection and be present in faeces. However, to date only one study has cultured the COVID-19 virus from a single stool specimen. There have been no reports of faecal−oral transmission of the COVID-19 virus to date.</p>
      <p>There are reports from settings where symptomatic COVID-19 patients have been admitted and in which no COVID-19 RNA was detected in air samples. WHO is aware of other studies which have evaluated the presence of COVID-19 RNA in air samples, but which are not yet published in peer-reviewed journals. It is important to note that the detection of RNA in environmental samples based on PCR-based assays is not indicative of viable virus that could be transmissible. Further studies are needed to determine whether it is possible to detect COVID-19 virus in air samples from patient rooms where no procedures or support treatments that generate aerosols are ongoing. As evidence emerges, it is important to know whether viable virus is found and what role it may play in transmission.  </p>
    </div>
  </div>
  <div class="jumbotron" style="width: 60%; margin-left: 20%; margin-top:30px;"><img src="https://ars.els-cdn.com/content/image/1-s2.0-S2352771420300136-gr3.jpg" alt=""></div>
  <div class="page-section page-section--white">

    <hr class="section-break">

    <div class="row group generic-content">

      <div class="one-third">
        <p>"The maximum transmission distance of SARS-CoV-2 aerosol might be 4 m" (13.1 feet), according to a study published on April 10 on Emerging Infectious Diseases, a journal of the US CDC which also found that "SARS-CoV-2 was widely distributed in the air and on object surfaces in both the ICU and general ward (GW), implying a potentially high infection risk for medical staff and other close contacts"</p>
      </div>

      <div class="one-third">
        <p> "The rate of positivity was relatively high for floor swab samples (ICU 7/10, 70%; GW 2/13, 15.4%), perhaps because of gravity and air flow causing most virus droplets to float to the ground.

            In addition, as medical staff walk around the ward, the virus can be tracked all over the floor, as indicated by the 100% rate of positivity from the floor in the pharmacy, where there were no patients.
            
            Furthermore, half of the samples from the soles of the ICU medical staff shoes tested positive. "</p>
      </div>

      <div class="one-third">
        <p>The WHO notes that these findings need to be interpreted carefully: "in this experimental study, aerosols were generated using a three-jet Collison nebulizer and fed into a Goldberg drum under controlled laboratory conditions. This is a high-powered machine that does not reflect normal human cough conditions. Further, the finding of COVID-19 virus in aerosol particles up to 3 hours does not reflect a clinical setting in which aerosol-generating procedures are performed - that is, this was an experimentally induced aerosol-generating procedure" </p>
      </div>
    </div>

  </div>

</div>

<footer class="site-footer">

  <div class="site-footer__inner container container--narrow">

    <div class="group">

      <div class="site-footer__col-one">
        <h1 class="school-logo-text school-logo-text--alt-color"><a href="#"><strong>COVID-19</strong></a></h1>
      </div>

      <div class="site-footer__col-two-three-group">
        <div class="site-footer__col-two">
          <h3 class="headline headline--small">Explore</h3>
          <nav class="nav-list">
            <ul>
              <li><a href="/about">About Covid-19</a></li>
              <li><a href="/cause">Cause</a></li>
              <li><a href="/signs">Signs and Symptoms</a></li>
              <li><a href="/prevention">Prevention</a></li>
            </ul>
          </nav>
        </div>

      <div class="site-footer__col-three">
        <h3 class="headline headline--small">WHO Social Handle</h3>
        <nav>
          <ul class="min-list social-icons-list group">
            <li><a href="https://www.facebook.com/WHO" class="social-color-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/WHO?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="social-color-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UC07-dOwgza1IguKA86jqxNA" class="social-color-youtube"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
            <li><a href="https://www.linkedin.com/company/world-health-organization/" class="social-color-linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/who/?hl=en" class="social-color-instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
        </nav>
      </div>
    </div>

  </div>
</footer>

  
  <script src="js/scripts-bundled.js"></script>
</body>
</html>
